*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.intro h1, h2, p{
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}

.lista-clases{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    width: 100%;
}

.clase{
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
    align-items: center;
    width: 30%;
    height: 75%;
    border: 1px solid black;
    border-radius: 15px;
}

.clase img{
    width: 300px;
    height: 325px;
}

.clase:hover{
    transform: scale(1.05);
}

.cta{
    display: inline-block;
    padding: 7px 0px;
    margin: 5px;
    width: 100px;
    border: 1px solid white;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.modal-container{
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    visibility: hidden;
}


.modal{
    width: 60%;
    height: 90%;
    background-color: white;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    transition: 1s;
    transform: translateY(0%);
    border: 1px solid black;
    border-radius: 25px;
    margin-top: 25px;
}

.close{
    position: absolute;
    right: 5px;
    top: 5px;
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid crimson;
    border-radius: 50%;
    color: aliceblue;
    background-color: crimson;
    font-weight: 500;
    cursor: pointer;
    line-height: 0.25px;
}


.modal-close{
    transform: translateY(-200%);
}

.modal img{
    width: 40%;
    height: 55%;
    align-self: center;
} 

.modal button{
    border: 1px solid black;
    border-radius: 25px;
    background-color: midnightblue;
    color: aliceblue;
    margin: 10px;
    padding: 15px;
    cursor: pointer;
}

